 <!-- fixed-top-->
<nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light">
    <div class="navbar-wrapper">
        <div class="navbar-container content">
            <div class="collapse navbar-collapse show" id="navbar-mobile">
                <a href="/Home/Index" class="col-md-3"> <img style="width: 234px; padding-top:20px;" src="~/assets/theme-assets/images/logo/logoe.png" /> </a>

              <div class="col-md-9">
                  <ul class="nav navbar-nav float-right pr-2">
                      <li class="dropdown dropdown-notification nav-item">
                          <a class="nav-link nav-link-label" href="/Home/Index">Home </a>                          
                      </li>
                      <li class="dropdown dropdown-user nav-item">
                          <a class="nav-link nav-link-label" href="/Home/Add">Add </a>
                      </li>
                  </ul>
              </div>
            </div>
        </div>
    </div>
</nav>
<!-- ////////////////////////////////////////////////////////////////////////////-->